{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-sx-12 col-xxs-12">
            <h1>Clients</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-sx-12 col-xxs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="btn btn-success btn-sm" href="{% url "client_create" %}">Add Client</a>
                </div>
                <ul class="list-group" id="my-model-list">

                </ul>
            </div>
        </div>
    </div>

<script>

	var view = new EXAMPLE.VIEWS.ClientListView();
	ClientCollection.fetch({ reset : true });
</script>
{% endblock content %}