{% extends "base.html" %}
{% load humanize %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-sx-12 col-xxs-12">
            <h1>{{ contract.contract_number }} (<a href="{{ contract.client.get_absolute_url }}">{{ contract.client.name }}</a>)</h1>
            {% if contract.client.account_manager == request.user or request.user.is_superuser %}
            <ul>
                <li><a href="{% url "contract_edit" contract.pk %}">Edit</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-sx-12 col-xxs-12">
            <h2>States</h2>

            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <table class="table">
                    {% for project in contract.project_set.all %}
                        <tr>
                            <th>{{ project.product.name }}</th>
                            <th><span class="label-default label">{{ project.current_state }}</span></th>
                        </tr>
                        {% for state in project.states.all %}
                            <tr>
                                <td>{{ state.state }}</td>
                                <td>{{ state.datestamp|naturaltime }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock content %}